* {
    font-family: Arial, Helvetica, sans-serif
}

button {
    margin-top: 8px;
    margin-left: 8px;
    padding: 5px
}

.messageComponent {
    align-content: center;
    padding: 10px;
    width: 300px;
}

.messagesHolder {
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
    border-style: solid;
    border-color: darkgray;
}

.message {
    display: grid;
    border-style: solid;
    border-radius: 4px;
    border-color: darkgray;
    max-width: 275px;
    margin: 5px;
    padding: 7px;
}

.messageUser {
    margin-top: 0px;
    margin-bottom: 2px;
    font-size: 14;
}

.messageTime {
    font-size: 10;
}

.messageBody {
    margin-top: 2px;
    font-size: 12;
}

.messageInput {
    max-width: 300px;
    margin-top: 8px;
}

.messageBox {
    width: 300px;
    height: 50px;
    max-width: 300px;
    padding: 5px;
}

.messagePost {
    float: right;
}

.loginDiv {
    margin-top: 3px;
}

.loginInput {
    width: 290px;
    margin: 5px;
    padding: 5px;
    height: 30px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
}

.authenticationButtons {
    float: right;
}